html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  display:flex;
  flex-grow: 4;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  height: 100%;
}

#map { flex-grow: 4; }

#list {
  width: 100%;
  overflow-y: auto;
  max-height: 20%
}

.row {
  width: 100%
  height: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

#tweet_container {
  flex-grow: 1.5;
  width: 250px;
  height: 100%;
  overflow-y: auto;
}
#tweet_container:empty {
  display:none;
}

.tweet {
  position: relative
  border-bottom:1px solid #ccc;
  padding:10px;
  min-height:50px;
}
.tweet .avatar {
  float:left;
  margin-right:10px;
}
.tweet .content {
  font-size:12px;
  margin-right:20px;
}
.tweet .time {
  text-align: right;
  margin:10px 10px 0 0;
  font-style:normal;
  font-size:11px;
  color:#aaa;
}

