#container {
	padding: 1em;
	background: #ccffff;
}

#secondary1, #secondary2 {
	background: gray;
}

#header, #footer {
	padding: 10px;
	background: cyan;
	text-align: center
}

div>p {
	margin: 2px;
}

#secondary1 p, #secondary2 p {
	padding: 2em;
	border: 2px solid;
}